@font-face {
    font-family: "Orbitron";
    font-size: 400;
    src: url("fonts/static/Orbitron-Regular.ttf");
}

@font-face {
    font-family: "Orbitron";
    font-size: 500;
    src: url("fonts/static/Orbitron-Bold.ttf");
}